<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">

    <title>Tokenstimator</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
        <h3 class="text-muted">Tokenstimator</h3>
      </div>

      <div class="jumbotron">
        <h2>Manage expectations</h2>
        <p class="lead"> Take the guesswork out of kplc prepaid token purchase. Tokenstimate instead and pay for only what you <strong>might</strong> get!</p>
      </div>
	  <div class="container">
		<form role="form" class="col-xs-10 col-xs-offset-1" action="/reciept" method="post">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"> Units? </span>
					<input type="text" class="form-control" name="unitsReq" placeholder="0.00">
				</div>		
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary col-xs-3 col-xs-offset-5"> Go </button>	
			</div>
		</form>	 
		 
	  </div>
	  <br>
      <div class="footer">
          <p><a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3 </a>| <a href="http://github.com/kkingori/tokenstimator">Fork me on Github</a></p> 
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>